<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>

    <title>signup</title>
</head>
<body>
     <%- include("./partials/nav") %>

     <div class="container mt-4">
        <form class="row g-3" action="/user/signup" method="post">

   <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Full Name</label>
    <input type="text" class="form-control" id="FullName" name="fullName" aria-describedby="FullName">
  </div>
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Email</label>
    <input type="email" class="form-control" id="inputEmail4" name="email">
  </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Password</label>
    <input type="password" class="form-control" id="inputPassword4" name="password">
  </div>

  <div class="col-12">
    <button type="submit" class="btn btn-primary">Sign in</button>
  </div>
</form>
    </div>
    
    <%- include("./partials/scripts") %>
</body>
</html>